<!DOCTYPE html>
<html lang="en">
<head>
  <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  
  <style>
    * {
      padding:0;
      margin:0;
    }
    html, body {
      width: 100%; 
      height: 100%;
    }

    #heatmapArea {
      height: 100%;
      width: 100%;
    }

  </style>
  </head>
<body>

<div id="heatmapArea"> </div>

<script type="text/javascript" src="heatmap.js"></script>
<script type="text/javascript" src="heatmap-gmaps.js"></script>
<script type="text/javascript">

  /*
   * emits events after each animation frame and after animation is complete
  */
  var CrimeAnimator = function(data, heatmap) { 
    this.frameDurration = 100;
    
    this.data = data;
    this.heatmap = heatmap;
    this.dataLength = data.length;

    //figure out the date range
    this.dateRange = {start: data[0][3], end: data[data.length-1][3]};
    this.dayRange = Math.ceil((this.dateRange.end - this.dateRange.start) / this.DAY_IN_MILLI);

    //set the first day to draw to our earliest crime
    this.currentDate = this.dateRange.start;

    //base the length of the animation on our datas day range 
    var animationLength = this.dayRange > 90 ? 45000 : 20000;

    //divide days in animation range by our desired length
    var animationFrameTotal = Math.ceil(animationLength / this.frameDurration);

    //calculate the number of days that elapse for each animation frame
    this.frameToDayRatio = Math.ceil(this.dayRange / animationFrameTotal);

    //calculate how long crimes should be displayed for based on our range
    this.visibleLifespan = Math.ceil(this.dayRange / 10);
    if(this.visibleLifespan < 20)
      this.visibleLifespan = 20;
    else if(this.visibleLifespan > 30)
      this.visibleLifespan = 30;
    this.visibleLifespan = this.visibleLifespan * this.DAY_IN_MILLI;

    this.currentPointsStart = 0; //holds the data index of the oldest crime we are displaying
    this.currentPointsEnd = 0; //holds the data index of the newest crime we are displaying

    this.filters = [];

  };

  CrimeAnimator.prototype.DAY_IN_MILLI = 1000 * 60 * 60 * 24;

  CrimeAnimator.prototype.applyFilters = function setData(filters) {
    this.filters = filters;
  };

  CrimeAnimator.prototype.drawAll = function drawAll() { 

    //set the current date to the first of the month
    //this.currentDate = this.dateRange.start;

    //set the animation day interval to be a month
    //this.frameToDayRatio = Math.ceil(this.dateRange.end - this.dateRange.start) / this.DAY_IN_MILLI;

    //reset the data indexes
    this.currentPointsStart = 0;
    this.currentPointsEnd = this.data.length;
    this.visibleLifespan = 400; //we never draw more then a year so will display everything

    this.draw();
  },

  CrimeAnimator.prototype.drawMonth = function drawMonth(month) {

    //set the current date to the first of the month
    var firstDate = new Date(this.dateRange.start);
    this.currentDate = new Date(firstDate.getFullYear(), month, 1).getTime();

    //set the animation day interval to be a month so it displays all at once in a single frame
    this.frameToDayRatio = new Date(firstDate.getFullYear(), month + 1, 0).getDate();
    this.visibleLifespan = this.frameToDayRatio; //avoid data being hidden

    //reset the data indexes
    this.currentPointsStart = 0;
    this.currentPointsEnd = 0;

    this.draw();
  };

  CrimeAnimator.prototype.draw = function draw() {
    var startTime = new Date().getTime();

    var nextDate = this.currentDate + (this.frameToDayRatio * this.DAY_IN_MILLI);
    var visibleThreshold = this.currentDate - this.visibleLifespan;

    //remove any points that are older then our threshold
    var haveCrimesExpired = false; //TODO: changed this to avoid calling add for now
    while(this.currentPointsStart < this.dataLength) {
      if(this.data[this.currentPointsStart][3] >= visibleThreshold)
        break;
      else
        haveCrimesExpired = true;

      this.currentPointsStart += 1;
    }

    if(this.currentPointsEnd < this.currentPointsStart)
      this.currentPointsEnd = this.currentPointsStart;
    
    while(this.currentPointsEnd < this.dataLength) {
      var crime = this.data[this.currentPointsEnd];
      if(this.data[this.currentPointsEnd][3] >= nextDate)
        break;

      this.currentPointsEnd += 1;
    }
    
    //if no removals to make then just add the crime points that are between the currentDate and the next Date and aren't filtered
    var currentData = this.getCurrentHeatmapData();
    console.log("drawing " + currentData.data.length + " frames from " + new Date(this.currentDate) + ' to ' +  new Date(nextDate));

    //ADD is too slow
    haveCrimesExpired = true;
    if(haveCrimesExpired) {
      //call set and pass
      this.heatmap.setDataSet(currentData);
    } else {
      //add new crime data now since we have no removals to make and wont have to call setData later
      //TODO: don't use add for now, not sure how it will affect the counts of points on top of other points(wont group them and make them darker)
      for(var i=currentData.data.length-1 ; i >= 0 ; i--) {
        var data = currentData.data[i];
        this.heatmap.addDataPoint(data.lat, data.lng, data.count);
      }
      console.log('done drawing points')
    }
 
    //increment currentDate to next date
    this.currentDate = nextDate;

    if(this.currentPointsEnd >= this.dataLength - 1) {
      //looks like we are done, fire animation end event
      this.stop();
    } else {
      //fire event for update
    }

    console.log("drawing took " + (new Date().getTime() - startTime) + " milli using " + (haveCrimesExpired ? 'set' : 'add'));
  };

  CrimeAnimator.prototype.start = function start(startDate) {

    if(startDate)
      this.currentDate = startDate;

    //figure out the number of days in our data
    if(this.dayRange < 10) {
      //no animation, too little data just draw what we have
      this.drawAll();
      return;
    } 

    //start the animation
    var self = this;
    this.timer = window.setInterval(function() {window.requestAnimationFrame(self.draw.bind(self)); }, this.frameDurration);
  }

  CrimeAnimator.prototype.stop = function stop() {
    //stop current timer
    console.log('stopping!');
    clearInterval(this.timer);
  }

  CrimeAnimator.prototype.getCurrentHeatmapData = function getCurrentHeatmapData() {
    var currentData = this.data.slice(this.currentPointsStart, this.currentPointsEnd + 1);

    var points = {};
      for(var i = currentData.length-1 ; i >= 0 ; i--) {
        var crime = currentData[i];
        var type = crime[2];

        if(this.filters.indexOf(type) >= 0)
          continue;

        var lat = crime[0];
        var lon = crime[1];

        var pointsX = points[lat];
        if(!pointsX) {
          pointsX = [];
          points[lat] = pointsX;
        }

        var point = pointsX[lon];
        if(!point) {
          point = {lat : crime[0], lng : crime[1], count: 0};
          pointsX[lon] = point;
        }
        point.count += 1;
      }

      var heatmapData = [];
      var max = 1;
      for(var x in points) {
        var pointsX = points[x];
        for(var y in pointsX) {
          var point = pointsX[y];
          heatmapData.push(point);

          if(point.count > max)
            max = point.count;
        }
      }

      return {max: max, data: heatmapData};
  };

  var ProgressBar = {
    init : function init(dateRange) {
      //setup the progress bar for our current date range
    },

    update : function update(currentDate) {
      //update our current progress
    }
  }

  !function($){
    $(function(){

      var myLatlng = new google.maps.LatLng(44.6544, -63.5992);

      var myOptions = {
        zoom: 12,
        center: myLatlng,
        mapTypeId: google.maps.MapTypeId.ROADMAP,
        disableDefaultUI: true,
        scrollwheel: false,
        draggable: false,
        navigationControl: false,
        mapTypeControl: false,
        scaleControl: false,
        disableDoubleClickZoom: false
      };
      var map = new google.maps.Map($("#heatmapArea")[0], myOptions);
      
      var heatmap = new HeatmapOverlay(map, {
          "radius":30,
          "visible":true, 
          "opacity":100
      });

      var requestAnimationFrame = window.requestAnimationFrame || window.mozRequestAnimationFrame || 
                              window.webkitRequestAnimationFrame || window.msRequestAnimationFrame;
      if (!requestAnimationFrame) {
        requestAnimationFrame = function(fn) {
          return setTimeout(fn, 1);
        };
      }
      window.requestAnimationFrame = requestAnimationFrame;

      // this is important, because if you set the data set too early, the latlng/pixel projection doesn't work
      google.maps.event.addListenerOnce(map, "idle", function() {
          
          //delay the animation start for a second to let the user prepair for the excitemetn
          window.setTimeout(function() {
          
            var crimeAnimator = new CrimeAnimator(Data.crimes, heatmap);
            crimeAnimator.start();

          }, 500);

      });

    });
  }(window.jQuery)

  var Data = <%- JSON.stringify(data) %>;

  //TODO: do this server side
  for(var i=Data.crimes.length-1 ; i >= 0 ; i--) {
    var crime = Data.crimes[i];
    crime[3] = new Date(crime[3]).getTime();
  }

  Data.crimes = Data.crimes.sort(function(crime1, crime2) {
    return crime1[3] - crime2[3];
  });


</script>
</body>
</html>